<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timestamp Microservice | freeCodeCamp.org</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h1>Timestamp Microservice</h1>
      <h2>Example Usage:</h2>
      <ul>
        <li>
          <a href="api/timestamp/2015-12-25"
            >[project url]/api/timestamp/2015-12-25</a
          >
        </li>
        <li>
          <a href="api/timestamp/1451001600000"
            >[project url]/api/timestamp/1451001600000</a
          >
        </li>
      </ul>

      <h2>Example Output:</h2>
      <p>
        <code
          >{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code
        >
      </p>
    </div>
    <footer class="footer">
      <p>
        Built for the
        <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a> APIs and
        Microservices Certificate.
      </p>
    </footer>
  </body>
</html>
